<div class="container">
    <h2>User Settings</h2>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Default radio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Second default radio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                <label class="form-check-label" for="exampleRadios3">
                  Disabled radio
                </label>
              </div>
        </div>

        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>

        <button class="btn btn-primary">Send</button>
    </form>
</div>