<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm" (onSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="userSettings.name"
                required #nameField="ngModel" (blur)="onBlur(nameField)"
                [class.field-error]="form.submitted && nameField.invalid">

            <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                Enter a name bitte
            </div>
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers"
                [(ngModel)]="userSettings.emailOffers">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>



        <select class="form-select" aria-label="Default select example" name="subscriptionType"
            [(ngModel)]="userSettings.subscriptionType">
            <option>Month</option>
            <option>Annual</option>
            <option>Lifetime</option>
        </select>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>

        <div [hidden]="!postError" class="alert alert-danger">
            {{postErrorMessage}}
        </div>
        <button class="btn btn-primary" (click)="onSubmit(form)">Send</button>
    </form>
</div>

<h3>
    {{ originalUserSettings | json }}
</h3>
{{ userSettings | json }}