<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm" (onSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="userSettings.name"
                required #nameField="ngModel"
                [class.field-error]="form.submitted && nameField.invalid">

            <div [hidden]="!form.submitted || nameField.invalid" class="alert alert-danger">
                Enter a name bitte
            </div>
        </div>

        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers"
                [(ngModel)]="userSettings.emailOffers">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>

        <div>
            <div class="form-check" ngModel>
                <input class="form-check-input" type="radio" name="exampleRadios" id="lightInterface" value="light"
                    [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="exampleRadios1">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="darkInterface" value="dark"
                    [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="exampleRadios2">
                    Dark
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="mediumInterface" value="medium"
                    [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="exampleRadios3">
                    Medium
                </label>
            </div>
        </div>

        <select class="form-select" aria-label="Default select example" name="subscriptionType"
            [(ngModel)]="userSettings.subscriptionType">
            <option>Month</option>
            <option>Annual</option>
            <option>Lifetime</option>
        </select>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>

        <button class="btn btn-primary">Send</button>
    </form>
</div>

<h3>
    {{ originalUserSettings | json }}
</h3>
{{ userSettings | json }}